

body{
	background-color: lightgray !important;
}


.mainText{
	font-size: 20pt !important;
	font-family: verdana;
	text-decoration: underline;
}

.Quizcontainer{
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;  
}

.Quizmain{
  height:500px;
  width:85%;
  background: #FFFAFA;
  border:2px solid black;
  border-radius:30px;
  align-items:center;
  justify-content: center;
  flex-direction:column;
  display:flex;
  align-content:center; 
}

.QuestionText{
	font-size:16pt;
	font-family: arial;
}


.Quizanswer{

  text-align:center;
  width:80%;
}

.Quizanswer:hover{
  background-color: lightgreen;
}

.Quizlistings{
	color: black !important;
}

.DraggableList{
	  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.touch({
    animate: false,
    sticky: false,
    dragx: true,
    dragy: true,
    rotate: false,
    resort: true,
    scale: false
});



