
{% extends 'base.html' %}
{% load static %}




{% block 'content' %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="quizText">
					<div id="quizQuestion">
					</div>

					<div id="quizAnswers" class="list-group Quizcontainer" align="center">
						<br/>
					</div>

					<br/>
					<div align="center">
						<div id="questionResponse">
								
						</div>
					</div>

					<br/>
					<div align="center">
						<input type="button" class="btn btn-md btn-info" value="Home" onclick=javascript:window.location="{% url 'home' %}">
						&nbsp;
						<input type="button" class="btn btn-md btn-success" value="Next" id="btnNext">						
					</div>	

					<br/>
					<div align="left" style='font-weight:700'>
						<div>
							SCORE: <span id="scoreLbl"></span>
						</div>
						<div>
							SCORE: <span id="currQuestion">1</span> of <span id="numQuestions"></span>
						</div>				
					</div>
				</div>

				<div id="quizComplete" style="display:none">
					<div align="center">
						<h1>Quiz Completed</h1>

						<br/>

						<span id='finalScore' style='font-size:16pt;font-weight:700;color:green'></span>
						<br/>
						<br/>					
						<input type="button" class="btn btn-md btn-info" value="Home" onclick=javascript:window.location="{% url 'home' %}">
					</div>
				</div>

				<br/>



				<!--{% if quiz_questions %}
						{% for Question in quiz_questions %}
							{{ Question.id }} {{ Question.quizQuestiontext}} <br/>
						{% endfor %}
				{% endif %}-->
			</div>
		</div>
	</div>


<script type="text/javascript">
    var marcData = "{{ quiz_questions }}";

    var quizData = [];
    var answerData = [];
  
</script>

<script src="{% static 'scripts/quizView.js'%}"></script>

<script type="text/javascript">

	var Quiz_id = {{ Quiz_id }}

	loadQuestions("{% url 'get_questions' Quiz_id %}","{{csrf_token}}");

	loadQuizAnswers("{% url 'get_answers' Quiz_id %}","{{csrf_token}}");
</script>

{% endblock %}



