
{% extends 'base.html' %}
{% load static %}


{% block 'content' %}
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="mainText">
					CATEGORIES
				</h1>				
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">

				{% for cats in category_data %}
					<a class="h5 Quizlistings" href="{% url 'quizzes' cats.id %}">{{ cats.category }}</a><br/>

				{% endfor %}	

			</div>
		</div>

		<br/>
		<div class="ui-sortable DraggableList" id="sortable1">
			<li class="ui-state-default ui-sortable-handle" style="background-color: whitesmoke"><span>Willam Howard Taft</span></li>
			<li class="ui-state-default ui-sortable-handle" style="background-color: whitesmoke"><span>Theodore Roosevelt</span></li>
			<li class="ui-state-default ui-sortable-handle" style="background-color: whitesmoke"><span>Franklin Delano Roosevelt</span></li>
			<li class="ui-state-default ui-sortable-handle" style="background-color: whitesmoke"><span>Dwight Eisenhower</span></li>
		</div>

		<br/>
		<br/>
		<input type="text" id="sortableAnswer" size="30">
	</div>


	<script src="{% static 'scripts/quizCats.js'%}"></script>

{% endblock %}