
{% extends 'base.html' %}


{% block 'content' %}

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="mainText">
					QUIZZES
				</h1>
				{% if quiz_info.count == 0 %}
					<h5>No Quizzes for this Category </h5>
				{% endif %}



				{% for Quiz in quiz_info %}

					{{ forloop.counter }}. <a class='Quizlistings' href='{% url 'quizview' Quiz.id %}'>{{ Quiz.quizName }} -- {{ Quiz.quizType }}</a> <br/>

				{% endfor %}
			</div>
		</div>
	</div>



{% endblock %}