
{% extends 'base.html' %}
{% load static %}


{% block 'content' %}
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="mainText">
					CATEGORIES
				</h1>				
			</div>

		</div>

		<div class="row">
			<div class="col-md-12">

				{% for cats in category_data %}
					<a class="h5 Quizlistings" href="{% url 'quizzes' cats.id %}">{{ cats.category }}</a><br/>

				{% endfor %}	

			</div>
		</div>

		<br/>

	</div>


	<script src="{% static 'scripts/quizCats.js'%}"></script>

{% endblock %}